@font-face {
  font-family: 'BlackHanSans-Regular';
  src: url('./BlackHanSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Jomhuria-Regular';
  src: url('./Jomhuria-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'NotoSansKR-Bold';
  src: url('./NotoSansKR-Bold.otf') format('otf');
}
@font-face {
  font-family: 'DoHyeon-Regular';
  src: url('./DoHyeon-Regular.ttf') format('ttf');
}
