html {
  font-size: 16px;
}

@media screen and (max-width: 510px) {
  html {
    font-size: 12px;
  }
}

body {
  margin: 0;
  font-family: Noto Sans KR, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  width: 100%;
}
a {
  color: #93b0db;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
